
.offers-card {
    display: flex;
    flex-direction: column;   
    align-items: center; 
    gap: 24px;
}

.offers-card .card {
    color: var(--text-secondary-color);
    background-color: var(--background-tertiary-color);
    width: 312px;
    height: 288px;
    box-sizing: border-box;
    padding: 24px 16px;
    border-radius: 16px;
    text-align: center;
}

.offers-card .card header {
    display: block;
    position: static;
    background: none;
    padding: 0;
    margin-bottom: 24px;
}

.offers-card .card header p {
    font-size: 20px;
    font-weight: var(--text-weight);
    margin-bottom: 24px;
}

.offers-card .card header h3 {
    font-size: 40px;
    font-weight: var(--title-weight);
    margin: 8px 0 8px;
}

.offers-card .card header span {
    display: inline-block;
    font-size: 32px;
    margin-top: 24px;   
}

.card header span {
    font-size: 40px;
}

.card.japao {
    background: url(../img/card-japao.png) no-repeat;
    background-size: cover;
}

.card.san-andreas {
    background: url(../img/card-san-andreas.png) no-repeat;
    background-size: cover;
}

.card.paraiba {
    background: url(../img/card-paraiba.png) no-repeat;
    background-size: cover;
}

.card.manaus {
    background: url(../img/card-manaus.png) no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
   .offers-card {
    flex-direction: row;   
    justify-content: center; 
    flex-wrap: wrap;
    justify-content: center;
}
}

@media  screen and (min-width: 1024px) {
  .offers-card .card {
      height: 308px;    
      width: 420px;
  }
  .offers-card .card header h3 {
 font-size: 48px;
}



@media  screen and (min-width: 1440px) {
  .offers-card.card {   
      width: 588px;
  }
}

@media  screen and (min-width: 1920px) {
  .offers-card {   
      width: 1250px;
      margin: 0 auto;
  }
}
}